/* variáveis globais */
:root {
    --cor-primaria: #254EDB;    
    --cor-secundaria: #CBD5E1;  
    --cor-fundo: #F1F5F9;   
    --cor-fundo-secundaria: #FFFFFF;    
    --cor-texto: #1E293B;
    --fonte-padrao: 'Inter', sans-serif;
}

/* reset básico para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-padrao);
}