/* variáveis globais */
:root {
    --cor-primaria: #2c3e50;    
    --cor-secundaria: #3498db;  
    --cor-fundo: #f4f6f9;   
    --cor-fundo-secundaria: #e1e9f5;    
    --cor-texto: #000000;
    --fonte-padrao: "Inter", sans-serif;
}

/* reset básico para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-padrao);
}