.main-header {
    background-color: var(--cor-fundo-secundaria);
    padding: 16px 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor-secundaria);
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.svg-icon img {
    width: 20px;
    height: 20px;
}

.svg-icon {
    background-color: var(--cor-fundo-secundaria);
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;  
}

.search-icon {
    background-color: var(--cor-fundo);
    border: none;
    cursor: default;
    padding: 0;
}

.logo h2 {
    font-size: 16px;
    color: var(--cor-texto);
    margin: 0;
}

.logo span {
    font-size: 12px;
    color: #64748B;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--cor-fundo);
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    padding: 8px 16px;
    width: 400px;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    margin-left: 8px;
    color: var(--cor-texto);
    font-family: var(--fonte-padrao);
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 24px; 
    padding: 4px 8px 4px 4px;   
    font-size: 11px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 14px;
    font-weight: 600;
    color: var(--cor-texto);
}

.user-role {
    font-size: 12px;
    color: #64748B;
}

.user-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%; /* 50% de ?*/
    padding: 4px;
    background-color: var(--cor-fundo);
    cursor: pointer;
}