<header class="main-header">

    <div class="header-left">
        <button class="svg-icon">
            <img src="./assets/icons/menu-burger.svg" alt="Menu" />
        </button>

        <div class="logo">
            
            <h2>Sistema Hospitalar</h2>
            <span>Gestão de atendimentos</span>
        </div>

        <div class="search-bar">
            <div class="svg-icon search-icon">
                <img src="./assets/icons/search.svg" alt="Pesquisar"  />
            </div>
            
            <input type="text" placeholder="Buscar paciente, CPF ou profissional" />
        </div>
    </div>

    <div class="header-right">
        <button class="svg-icon">
            <img src="./assets/icons/bell.svg" alt="Notificações" />
        </button>

        <div class="user-profile">
            <div class="user-avatar">
                <img src="./assets/icons/user.svg" alt="Avatar" />
            </div>
            <div class="user-info">
                <span class="user.name">Nome de usuário </span>
                <span class="user.role">Perfil de acesso </span>
            </div>
        </div>
    </div>
</header>